  <head><script data-ad-client="ca-pub-2229207334662120" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>

 <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>

 <body>
 
 <div class="jumbotron">
 <div class="container">
   <h1 class="display-3">Carlos Eduardo Damian Perez</h1>
   <p>I’m a software engineer at HCL technology I am responsible for supporting various applications as part of daily tasks, designing better ways to solve problems on a larger scale in critical scenarios.</p>
   <p><a  href="/CV_CarlosDamian.pdf" download ></a></p>
   <p><a class="btn btn-primary btn-lg" href="/CV_CarlosDamian.pdf" download role="button">Donwload  CV »</a></p>
 </div>
</div>

 <div class="container">
   <!-- Example row of columns -->
   <div class="row">
     <div class="col-md-4">
       <h2>About me</h2>
       <p>Graduated from the University of Colima in the Faculty of Telematics in 2017.</p>
       <p>I’m a software engineer with 3 years of experience as a support engineer also been working as a web developer in several projects with knowledge in database management.</p>
       <div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="es_ES" data-type="horizontal" data-theme="dark" data-vanity="carlos-damian-6058b6a1"><a class="LI-simple-link" href='https://mx.linkedin.com/in/carlos-damian-6058b6a1?trk=profile-badge'>carlos damian</a></div>
     </div>
     <div class="col-md-4">
       <h2>Hobbies</h2>
       <p>Part of my hobbies is spending time with my friends and family taking walks and flying drones.</p>
       <p><a class="navbar-brand" href="#"><img src="/drone.jpg" alt="Logo" width="200" height="200"></a>
       
    </div>
     <div class="col-md-4">
       <h2>Technologies</h2>
       <ul class="list-group list-group-flush">
       <li class="list-group-item">Linux knowledge</li>
       <li class="list-group-item">SQL/MySql</li>
       <li class="list-group-item">Ruby on rails</li>
       <li class="list-group-item">Java</li>
       <li class="list-group-item">Web programming</li>
       <li class="list-group-item">Service Now</li>
       <li class="list-group-item">SLA incident Management </li>
   </ul>
         </div>
   </div>

   <hr>

   <footer>
     <p>© Carlos Damian 2020</p>
   </footer>
 </div> <!-- /container -->


 <!-- Bootstrap core JavaScript
 ================================================== -->
 <!-- Placed at the end of the document so the pages load faster -->
 <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
 <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
 <script src="../../dist/js/bootstrap.min.js"></script>
 <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
 <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>


</bo
